/* ==userstyle==
@name         GitLab Review Nowrap
@namespace    StylusThemes
@version      1.5.0
@description  Compact and hide details in the news feed
@author       noreplyme
@homepageURL  https://gitlab.com/noreplyme/gitlab-review-nowrap
@supportURL   https://gitlab.com/noreplyme/gitlab-review-nowrap/issues
@updateURL    https://gitlab.com/noreplyme/gitlab-review-nowrap/raw/master/gitlab-review-nowrap.user.css
@license      CC-BY-SA-4.0
@preprocessor stylus
==/userstyle== */

@-moz-document regexp("https://gitlab.com/[\\+-_\\w\\d]+/[\\+-_\\w\\d]+/merge_requests/.*?") {
  @media (min-width: 768px) {
    .diff-file .file-title,
    .diff-file .file-title-flex-parent {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

  .diff-file {
    width: 170%;
  }

  .prepend-top-default {
    overflow-x: scroll;
  }
}
